platform :android

output_path '$projectName/src/main/res/'

source :google_drive, 
       :spreadsheet => '$projectName', 
       :login => ENV['GOOGLE_LOGIN'], 
       :password => ENV['GOOGLE_PASSWORD']

# If the app has [i] tags or something like that, uncomment this
# except :keys => '[\\[][i][\\]]'
